@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

@import "styles/color";

.app {
  text-align: left;
  background-color: $black;
  color: $white;

  * {
    margin: 0;
  }

  p {
    font-size: 16px;
    font-family: "Roboto", cursive;
  }
}
