@import "styles/color";

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.navBlack {
  background-color: $black;
}

.navLogo {
  width: 100px;
  position: fixed;
  left: 20px;
  object-fit: contain;
}

.navAvatar {
  width: 30px;
  position: fixed;
  right: 20px;
  object-fit: contain;
}

.fa {
  color: $bannerButtonBackgroundHover;
  font-size: 20px;
}
